* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #090909;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #FF5722;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo img {
    width: 120px;
}

header h1.pinky {
    font-size: 2.5rem;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

nav.menu {
    background-color: #FF5722;
    padding: 10px 0;
    text-align: center;
}

nav.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu ul li {
    margin: 0 15px;
}

nav.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav.menu ul li a:hover {
    background-color: #FF9800;
}

nav.menu ul li i {
    font-size: 1.5rem;
}

footer {
    background-color: black; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
}

footer p {
    font-size: 1.2rem;
    text-align: center;
}


footer hr {
    border: 1px solid #FF5722; 
    margin-bottom: 20px;
}


.conteiner {
    width: 100%;
}

/* Estilo para la portada */
.portada {
    text-align: center;
    margin: 20px auto;
}

.portada img {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portada h4 {
    color: white;
    font-size: 1.5rem;
}

/* Modificación para el color del h1 */
h1.h1 {
    color: white; /* Cambié el color del h1 a blanco */
    text-align: left; /* Alinea el texto hacia la izquierda */
    padding-left: 20px;
}


/* Estilo para los enlaces de canciones */
.musica a {
    color: #FF5722;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.musica a:hover {
    background-color: #FF5722;
    color: #fff;
}

hr {
    border: 1px solid #FF5722;
    margin-bottom: 20px;
}

.music-container {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container img {
    width: 300px;
    margin-bottom: 20px;
}

.music-container p {
    color: #fff;
    font-size: 1.5rem;
}

.music-player {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0f6f13;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 300px;
    text-align: center;
    margin-top: 2px;
}

.download-button:hover {
    background-color: #31a037;
}

.download-button i {
    margin-right: 10px;
}

.download-button:before {
    content: '\f019 ';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.Ver-Mas{
    margin-top: 10px;
    margin-left: 20px;
}

.Ver-Mas a{
    padding: 15px;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.Ver-Mas a:hover{
    background-color: #45a049;
}



        /* Estilo general */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #090909;
            color: #fff;
            line-height: 1.6;
            margin: 0;
        }

        /* Estilo para el header */
        header {
            background-color: #FF5722;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            width: 100%;
        }

        header .logo img {
            width: 120px;
            margin-right: 10px; /* Espacio entre el logo y el título */
        }

        header h1.pinky {
            font-size: 2.5rem;
            margin-top: 1px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            display: inline-block; /* Hace que el logo y el texto estén en la misma línea */
        }

        header .menu {
            text-align: center;
        }

        header .menu ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        header .menu ul li {
            margin: 0 15px;
        }

        header .menu ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 1.2rem;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        header .menu ul li a:hover {
            background-color: #FF9800;
        }

        header .menu ul li i {
            font-size: 1.5rem;
        }

        .album-section {
            margin: 40px 20px;
            padding: 20px;
            background-color: #050503;
            border-radius: 10px;
        }

        .menu{
            margin-right: 50px;
        }

        .album-section h2 {
            text-align: center;
            font-size: 2.5rem;
            color: #FF5722;
            margin-bottom: 10px;
            font-weight: 700;
        }

        hr {
            border: 1px solid #FF5722;
            margin-bottom: 20px;
        }

        .album {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #121212;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .album img {
            width: 250px;
            height: 250px;
        }

        .album p {
            margin: 5px 0;
            padding: 0;
        }

        .album button {
            padding: 10px 20px;
            margin-top: 10px;
            background-color: #FF5722;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }

        .album button:hover {
            background-color: #FF9800;
        }

        .album-info {
            text-align: center;
            color: #FF5722;
            font-size: 1.2rem;
            margin-top: 15px;
        }

        .canciones {
            margin-top: 20px;
        }

        .canciones h2 {
            font-size: 2rem;
            color: #FF5722;
        }

        .canciones ul {
            list-style-type: none;
            padding: 0;
        }

        .canciones ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #1e1e1e;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .canciones ul li button {
            padding: 5px 10px;
            background-color: #1731f1;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .canciones ul li button:hover {
            background-color: #302076;
        }

        .canciones a{
            text-decoration: none;
            color: white;
        }

        .canciones ul li:first-child {
            font-weight: bold;
        }

        footer {
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            border-radius: 10px;
        }

        footer img {
            display: block;
            margin: 0 auto;
            width: 120px;
            margin-bottom: 10px;
        }

        footer p {
            font-size: 1.2rem;
            text-align: center;
        }

        /* Estilo para el reproductor de audio */
        #reproductor {
            margin-top: 20px;
            text-align: center;
        }

        audio {
            width: 80%;
            margin-top: 10px;
            background-color: #000;
            border: none;
            border-radius: 0;
            height: 50px;
        }